body {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  transition: 0.8S ease-in;
  background-image: url('../../logos/pageacceuil.png');
  background-color: rgba(84, 190, 178, 0.7);
  filter: var(--filter-hue);
}

.slide-right {
    animation: slideRight 0.5s ease-in-out;
}

.dashverif {
  width:700px;
  height:400px;
  opacity: 0;
  display: none;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  position: absolute;
  border:1px solid white;
  color:white;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.boutonverif {
  text-align: center;
  display: flex;
  justify-content: center;
}



.dashverif button {
  background-color: #fff; 
  color: rgba(35, 73, 118, 255); 
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}




.dashverif,
.dashverif button,
.dashverif input {
  transition: opacity 0.5s ease;
}


@keyframes slideRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, red 10%,darkred 45%, rgb(44, 17, 17) 67%, darkblue 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
}

strong {
  z-index: 2;
  font-family: 'Avalors Personal Use';
  font-size: 17px;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #FE53BB;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.boutoncode {
  display: flex;
  justify-content: center;
  margin-top:15px;
}

.boutoncode button {
  background: none;
  color:#7C0A02;
}

.boutoncode button:hover {
  color:white;
}

.dashverif input {
  display: block;
  margin: 2em auto;
  border: none;
  padding: 0;
  color:#7C0A02;
  width: calc(6 * (1ch + 0.5ch));
  background: repeating-linear-gradient(
    90deg,
    white 0,
    white 1ch,
    transparent 0,
    transparent calc(1ch + 0.5ch)
  ) 0 100%/calc((7 * (1ch + 0.5ch)) - 0.5ch) 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}

.dashverif input:focus {
  outline: none;
  color: #7C0A02;
}
